# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'LuciaMendez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL', engine, if_exists='append')

-1

In [ ]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1.0,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1.0,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1.0,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1.0,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421,163,164,2022-08-28,Falcon 9,13260.000000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3033383ecb075134e7cd,5.0,"S,p,a,c,e,X",1.0,1,B1069,-80.603956,28.608058,1
422,164,165,2022-08-31,Falcon 9,13260.000000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,"S,p,a,c,e,X",1.0,6,B1063,-120.610829,34.632093,1
423,165,166,2022-09-17,Falcon 9,13260.000000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,"S,p,a,c,e,X",1.0,5,B1067,-80.577366,28.561857,1
424,166,167,2022-09-24,Falcon 9,13260.000000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,"S,p,a,c,e,X",1.0,0,B1072,-80.577366,28.561857,1
425,167,168,2022-10-05,Falcon 9,8191.079110,Crew-5,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,"N,A,S,A, ,(,C,C,t,C,a,p,)",1.0,0,B1077,-80.603956,28.608058,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = "SELECT DISTINCT LaunchSite FROM SPACEXTBL"
df1  = pd.read_sql(query, con = engine )
df1

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = "SELECT * FROM SPACEXTBL WHERE LaunchSite Like 'CCS%' LIMIT 5"
df2  = pd.read_sql(query, con = engine )
df2

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = "SELECT  Customers, SUM(PayloadMass) AS Total_PayloadMass FROM SPACEXTBL WHERE Customers LIKE '%NASA (CRS)%' GROUP BY Customers"
df3  = pd.read_sql(query, con = engine )
df3

    Customers  Total_PayloadMass
0  NASA (CRS)            47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = "SELECT Serial As Serial_B1, AVG(PayloadMass) AS Mean_PayloadMass FROM SPACEXTBL WHERE Serial LIKE 'B1%'"
df4  = pd.read_sql(query, con = engine)
df4

  Serial_B1  Mean_PayloadMass
0     B1003       6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = "SELECT MIN(Date) AS First_successful_landing FROM SPACEXTBL WHERE LandingOutcome = 'True RTLS'"
df5  = pd.read_sql(query, con = engine)
df5

  First_successful_landing
0               2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = "SELECT Serial, LandingOutcome, PayloadMass FROM SPACEXTBL WHERE LandingOutcome = 'True ASDS' AND PayloadMass BETWEEN 4000 AND 6000"
df6  = pd.read_sql(query, con = engine)
df6

   Serial LandingOutcome  PayloadMass
0   B1022      True ASDS       4696.0
1   B1026      True ASDS       4600.0
2   B1021      True ASDS       5300.0
3   B1031      True ASDS       5200.0
4   B1046      True ASDS       5800.0
5   B1046      True ASDS       4000.0
6   B1059      True ASDS       5000.0
7   B1022      True ASDS       4696.0
8   B1026      True ASDS       4600.0
9   B1021      True ASDS       5300.0
10  B1031      True ASDS       5200.0
11  B1046      True ASDS       5800.0
12  B1046      True ASDS       4000.0
13  B1059      True ASDS       5000.0
14  B1022      True ASDS       4696.0
15  B1026      True ASDS       4600.0
16  B1021      True ASDS       5300.0
17  B1031      True ASDS       5200.0
18  B1046      True ASDS       5800.0
19  B1046      True ASDS       4000.0
20  B1059      True ASDS       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = "SELECT DISTINCT Class, COUNT( Class)  FROM SPACEXTBL GROUP BY Class"
df7  = pd.read_sql(query, con = engine)
df7

   Class  COUNT( Class)
0      0             92
1      1            334

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = "SELECT Serial, PayloadMass FROM SPACEXTBL WHERE PayloadMass = (SELECT MAX(PayloadMass) FROM SPACEXTBL)"

df8  = pd.read_sql(query, con = engine)
df8

   Serial  PayloadMass
0   B1048      15600.0
1   B1049      15600.0
2   B1051      15600.0
3   B1056      15600.0
4   B1048      15600.0
..    ...          ...
62  B1060      15600.0
63  B1049      15600.0
64  B1051      15600.0
65  B1063      15600.0
66  B1049      15600.0

[67 rows x 2 columns]

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = "SELECT LandingOutcome, Serial, LaunchSite FROM SPACEXTBL WHERE LandingOutcome LIKE 'None%' OR LandingOutcome LIKE 'False%' AND Date LIKE '2015%"
df9  = pd.read_sql(query, con = engine)
df9

   LandingOutcome Serial    LaunchSite
0       None None  B0003  CCSFS SLC 40
1       None None  B0005  CCSFS SLC 40
2       None None  B0007  CCSFS SLC 40
3     False Ocean  B1003   VAFB SLC 4E
4       None None  B1004  CCSFS SLC 40
..            ...    ...           ...
87      None None  B1047  CCSFS SLC 40
88      None None  B1046    KSC LC 39A
89     False ASDS  B1056  CCSFS SLC 40
90     False ASDS  B1048    KSC LC 39A
91     False ASDS  B1059  CCSFS SLC 40

[92 rows x 3 columns]

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = "SELECT LandingOutcome, COUNT(LandingOutcome) AS CountLanding FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY LandingOutcome ORDER BY CountLanding DESC"
# ""
df10  = pd.read_sql(query, con = engine)
df10

  LandingOutcome  CountLanding
0      None None            57
1     False ASDS            12
2    False Ocean             6
3      None ASDS             6